<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Compile>
			<version>1.0.2</version>
		</Ccc_Compile>
	</modules>
	
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ccc_compile>Ccc_Compile_Adminhtml</ccc_compile>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	
	<global>
		
		<blocks>
			<compile>
				<class>Ccc_Compile_Block</class>
			</compile>
		</blocks>
		<helpers>
			<compile>
				<class>Ccc_Compile_Helper</class>
			</compile>
		</helpers>
		<models>
	        <compile>
	            <class>Ccc_Compile_Model</class>
	            <resourceModel>compile_resource</resourceModel>
	        </compile>
	        <compile_resource>
	            <class>Ccc_Compile_Model_Resource</class>
	            <entities>
	                <compile>
	                    <table>compile</table>
	                </compile>
	                <compile_datetime>
	                	<table>compile_datetime</table>
		            </compile_datetime>
		            <compile_decimal>
		                <table>compile_decimal</table>
		            </compile_decimal>
		            <compile_int>
		                <table>compile_int</table>
		            </compile_int>
		            <compile_text>
		                <table>compile_text</table>
		            </compile_text>
		            <compile_varchar>
		                <table>compile_varchar</table>
		            </compile_varchar>
		            <compile_char>
		                <table>compile_char</table>
		            </compile_char>
		            <eav_attribute>
                        <table>compile_eav_attribute</table>
                    </eav_attribute>
		        </entities>
		    </compile_resource>
		</models>
		<resources>
            <compile_setup>
                <setup>
                    <module>Ccc_Compile</module>
                    <class>Ccc_Compile_Model_Resource_Setup</class>
                </setup>
            </compile_setup>
        </resources>
	</global>

	<adminhtml>
	    <layout>
	      <updates>
	        <compile>
	          <file>compile.xml</file>
	        </compile>
	      </updates>
	    </layout>
  	</adminhtml>
</config>
